html {
    background-color: rgb(53, 121, 223);
    cursor:default


}
#todoInput {
    display: flex;
    justify-self: center;

}

.CreateMainDiv {
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 20px;
    color: azure;
    padding: 10px;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

.Background{
    position: absolute;
    z-index: -1;
    filter: brightness(0.4);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#todoListHolder {
    align-items: flex-start;
    position: absolute;
    display: flex;
    overflow-x: visible;
    width: auto;
    height: 90%;
    top: 70px;
    background-color: rgba(32, 32, 32, 0.027);
}



.createtodo {
    border-radius: 15px;
    width: 250px;
    background-color: rgba(139, 139, 139, 0.692);
    padding: 10px;
    color: aliceblue;
    font-size: 14px;
    margin: 20px;
    justify-self: end;
}

.createtodo:hover {
    background-color: rgba(139, 139, 139, 0.795);
}
.createtodo:active{
    background-color: rgba(139, 139, 139, 0.911);
    transform: scale(0.97);
}


/*Основное окошко где все лежит*/
.todo {
    position: relative;

    display: flex;
    background-color: rgba(65, 65, 65, 0.637);
    min-width: 250px;
    min-height: 15px;
    height: auto;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 10px 10px 10px;

}

/*та самая тудушка*/

.AddTodoCard {
    background-color: rgb(18, 113, 221);
    height: auto;
    padding: 5px;
    border-radius: 5px;
    width: 240px;
    margin-top: 5px;
    display: flex;
}

.formInput {
    display: flex;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    resize: none;
    overflow: hidden;

}


.todoAddedDiv {
    position: relative;
    background-color: rgb(18, 113, 221);
    align-self: flex-end;
    height: auto;
    min-height: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 240px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    
}


.todoSetting {
    z-index: 10;
    display: flex;
    padding: 2px 6px;
    position: absolute;
    font-size: 32px; 
    color: rgb(255, 255, 255);
    user-select: none;
    transform: translateY(-60%);
    top: 15px;
    left: 85%;


}

/*раположение текста*/

.CloseAddedDiv {
    position: relative;

    left: 220px;
}

.SettingList {

    font-size: 14px;
    transform: translateY(35px);

}

.todoname {
    color: aliceblue;
    
}

/*Троеточие*/

.SettingHolder {
    z-index: 101;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5px;
    top: -30px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(226, 166, 227,0.08);
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    justify-content: center;
}
.todoCreate {
    margin-bottom: 5px;
}












/*Модальное окно*/
.ModalInputHolder {
    position: fixed;
    left: 20%;
    top: 15%;

}

.ModalActionsHolder {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    justify-content: space-around;

}

.ModalWinMain {
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 20%;
    background-color: brown;
    height: 500px;
    width: 800px;
    transform: translate(-50%);
    border-radius: 20px;
}