html {
    background-color: rgb(53, 121, 223);


}

.todo {
    position: relative;
    padding: 40px 10px 10px 10px;
    display: flex;
    background-color: rgba(65, 65, 65, 0.637);
    min-width: 250px;
    min-height: 5px;
    height: auto;
    border-radius: 15px;
    margin: 20px;
    justify-content: space-between;

}



.todoAddedDiv {
    background-color: rgb(18, 113, 221);
    align-self: flex-end;
    height: 100px;
    width: 250px;
    margin-top: 5px;
}

#todoListHolder {
    align-items: flex-start;
    position: absolute;
    display: flex;
    overflow-x: visible;
    width: auto;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.027);
}
.ModalWinMain {
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 20%;
    background-color: brown;
    height: 500px;
    width: 800px;
    transform: translate(-50%);
    border-radius: 20px;
}
.todoSetting {
    display: flex;
    height: 10px;
    width: 10px;
    background-color: brown;
    position: absolute;
    top: 20px;
    left: 90%;
}

.SettingHolder {
    position: relative;
    left: 40px;
}

.ModalInputHolder {
    position: fixed;
    left: 20%;
    top: 15%;

}

.ModalActionsHolder {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    justify-content: space-around;

}