html {
    background-color: rgb(53, 121, 223);


}

.todo {
    position: relative;
    padding: 40px 10px 10px 10px;
    display: flex;
    background-color: rgba(65, 65, 65, 0.637);
    min-width: 250px;
    min-height: 150px;
    height: auto;
    border-radius: 15px;
    margin: 20px;
    justify-content: space-between;

}
.todoItem {

}
.todoDel {
    position: absolute;
    top: 15px;
    left: 87%;

}
.todoAdd{
    position: absolute;
    top: 15px;
    left: 75%;
}

.todoAddedDiv {
    background-color: rgb(18, 113, 221);
    align-self: flex-end;
    height: 100px;
    width: 250px;
    margin-top: 5px;
}

#todoListHolder {
    align-items: flex-start;
    position: absolute;
    display: flex;
    overflow-x: visible;
    width: auto;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.027);
}
.ModalWinMain {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 20%;
    background-color: brown;
    height: 500px;
    width: 800px;
    transform: translate(-50%);
}